@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100,200,300,400,50,600&family=Open+Sans&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.menu-h {
  width: 100%;
  justify-content: center;
  list-style: none;
  padding: 0;
  background-color: #FFFFFF;
}


.menu-h li {
  display: inline;
}

.menu-h li a {
  text-decoration: none;
  color: black;
  padding: 20px;
  display: inline-block;
  transition: background .3s;

}

.menu-h li a:hover {
  background-color: #f9c022;
}

.menu-h ul li:first-child {
  float: left;
}

.menu-h ul li:last-child {
  float: right;
  background-color: #f9c022;
}

.menu-h ul li:last-child:hover {
  background-color: #995973;
  transition: background .3s;
}

.capa-mapa {
  width: 80%;
  text-align: center;

}

.capa-mapa img {
  width: 80%;
}


.titulo-mapa {
  text-align: center;
  margin-top: 40px;
}

.container {
  padding: 15px;
  display: grid;
  gap: 5px;
  margin-left: 10px;
  grid-template-areas: 
   'foto-rango foto-rango texto-rango'
   'foto1 foto1 foto2'
   'foto3 foto3 foto4'
}

.foto-rango {
  grid-area: foto-rango;
  width: auto;
}

.texto-rango {
  grid-area: texto-rango;
  width: 100%;
  text-align: left;
}

.lista-ongs a {
  text-decoration: none;
  color: black;
}

.texto-rango h1 {
  text-transform: Uppercase;
  font-weight: 600;
  margin-bottom: 45px;
}

.foto1 {
  grid-area: foto1;
}

.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

.foto4 {
  grid-area: foto4;
}

.fotos-rango {
  width: 50vh;
}